<launch>
  <rosparam command="load" file="$(find aravis_camera_ros_driver)/config/camera_params.yaml" />
  <node 
    pkg="aravis_camera_ros_driver"
    type="aravis_camera_node"
    name="aravis_camera_node"
    respawn="true"
    output="screen"
  >
  </node>

  <node 
    pkg="aravis_camera_ros_driver"
    type="snapshot_node"
    name="snapshot_node"
    respawn="false"
    output="screen"
  /> 

  <node 
    pkg="aravis_camera_ros_driver"
    type="calib_interactive_collector_node"
    name="calib_interactive_collector_node"
    respawn="false"
    output="screen">
    <rosparam file="$(find aravis_camera_ros_driver)/config/calib_params.yaml" command="load"/>
  </node>


</launch>